{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HOME Bölümü -->
<div class="aizmir-hero-container">
    <div class="aizmir-hero-content">
        <a href="{% url 'showroom' %}" class="glow-button">AI Super-MarketPlace</a>
        <h1 class="aizmir-hero-title"><span>AIzmir Hub</span><br> Super-MarketPlace</h1>
        <p class="aizmir-hero-description">AI ile geleceği keşfet, AIzmir Hub ile gelecekte ol! </p>

        <div class="aizmir-hero-buttons">
            <a href="#" class="aizmir-glow-button primary-btn">Aizmir Hub Keşfet</a>
            <a href="https://calendly.com/aizmirhub-info/30min" target="_blank"
                class="aizmir-glow-button secondary-btn ">Daha Fazlası
                İçin</a>
        </div>
    </div>
</div>
<!-- SCROLL  -->
<div class="scrolling-container">
    <div class="scroll-title">
        <h2>İş Birliklerimiz</h2>
    </div>
    <div class="scrolling-content">
        <span class="scrolling-item">
            <img src="/static/images/consulting/AIVA.png" style="background-color:  white;" alt="">
        </span>
        <span class=" scrolling-item ">
            <img src="/static/images/consulting/bspgroup.jpeg" alt="">
        </span>

        <span class="scrolling-item">
            <img src="/static/images/consulting/canerşekerci.PNG"
                style="transform: scale(1.0);transform-origin: center; " alt="">
        </span>

        <span class="scrolling-item">
            <img src="/static/images/consulting/recuit.me.jpeg" alt="">
        </span>
        <span class="scrolling-item">
            <img src="/static/images/consulting/yapay zeka platformu.jpeg" alt=""></span>
        <!-- Kopyalar -->
        <span class="scrolling-item">
            <img src="/static/images/consulting/AIVA.png" alt="">
        </span>
        <span class="scrolling-item subtle">
            <img src="/static/images/consulting/bspgroup.jpeg" alt=""></span>
        <span class="scrolling-item">
            <img src="/static/images/consulting/canerşekerci.PNG"
                style="transform: scale(1.0);transform-origin: center; " alt="">
        </span>
        <span class="scrolling-item">
            <img src="/static/images/consulting/recuit.me.jpeg" alt=""></span>
        <span class="scrolling-item">
            <img src="/static/images/consulting/yapay zeka platformu.jpeg" alt="" ">
        </span>
    </div>
</div>
<br><br><br><br><br><br>
<!-- CİRCLE Bölümü -->
<div class=" legend-animation-container" id="legendAnimation">
            <div class="circle-border"></div>
            <div class="center-orb">
                <img src="/static/images/LogoSeffaf.png" style="width: 100px;border-radius: 50px;" alt="">
            </div>

            <!-- F - Feature -->
            <div class="legend-node" style="--angle: 0deg; --distance: 200px;">
                <div class="node-circle">
                    <i class="fas fa-user-gear"></i>

                </div>
                <span class="node-label">AI Product Owner</span>
            </div>

            <!-- G - Generate -->
            <div class="legend-node" style="--angle: 60deg; --distance: 200px;">
                <div class="node-circle">
                    <i class="fas fa-users"></i>
                </div>
                <span class=" node-label">AI HR Saas
                </span>
            </div>

            <!-- R - Runway -->
            <div class="legend-node" style="--angle: 120deg; --distance: 200px;">
                <div class="node-circle">
                    <i class="fas fa-chalkboard-teacher"></i>
                </div>
                <span class=" node-label">Danışmanlık
                </span>
            </div>

            <!-- H - OpenAI -->
            <div class="legend-node" style="--angle: 180deg; --distance: 200px;">
                <div class="node-circle">
                    <i class="fas fa-store"></i>
                </div>
                <span class=" node-label">MarketPlace
                </span>
            </div>

            <!-- S - Sync -->
            <div class="legend-node" style="--angle: 240deg; --distance: 200px;">
                <div class="node-circle">
                    <i class="fas fa-cogs"></i>
                </div>
                <span class=" node-label">Otomasyon
                </span>
            </div>

            <!-- L - LLAMA 2 -->
            <div class="legend-node" style="--angle: 300deg; --distance: 200px;">
                <div class="node-circle">
                    <i class="fas fa-robot"></i>
                </div>
                <span class=" node-label">AI Agent
                </span>
            </div>

            <!-- Işınlar (beams) -->
            <div class="light-beam" style="--beam-length: 200px; transform: rotate(0deg);"></div>
            <div class="light-beam" style="--beam-length: 200px; transform: rotate(60deg);"></div>
            <div class="light-beam" style="--beam-length: 200px; transform: rotate(120deg);"></div>
            <div class="light-beam" style="--beam-length: 200px; transform: rotate(180deg);"></div>
            <div class="light-beam" style="--beam-length: 200px; transform: rotate(240deg);"></div>
            <div class="light-beam" style="--beam-length: 200px; transform: rotate(300deg);"></div>
    </div>
    <br><br><br>
    <!-- TANITIM Bölümü -->
    <div class="aiflow-container">
        <div class="aiflow-content">
            <h2 class="aiflow-title">aizmirhub.com</h2>
            <p class="aiflow-description">
                AIzmir Hub Şirketlerin ihtiyaç duyacağı bütüncül tüm Yapay Zeka, Dijital Dönüşüm ve yazılım
                ihtiyaçlarını; uzman danışman, eğitimci ve teknik kadroyla AIzmir Hub içinde tamamlayarak ve geleceğin
                merkezine taşır ve bunu da bir marketplace ekosistemi oluşturarak gerçekleştirir.

                <br>
                AIzmir Hub, yapay zeka çözümleri ile işletmelerin dijital dönüşümünü yönlendiren,
                stratejik
                danışmanlık
                ve
                kurumsal eğitim hizmetleri sunan lider bir teknoloji firmasıdır.

            </p>
            <a href="#pricing" class="aiflow-doc-button">Daha Fazlası İçin→</a>

            <div class="aiflow-features">
                <div class="feature-box">
                    <h3>AI Product Owner</h3>
                    <p>Ürün yönetiminin geleceği, yapay zekâ ile yeniden tanımlanıyor.
                        <br>
                        Artık yapay zekâ destekli uçtan uca ürün geliştirme, görev yönetimi ve karar destek
                        sistemleriyle ürün yöneticileri; manuel araçların, eksik verilerin ve dağınık sistemlerin
                        yarattığı kaosu geride bırakıyor. Dağınık geri bildirim kanalları, verimsiz sprint planlamaları,
                        yanlış önceliklendirmeler ve takım içi iletişim kopuklukları gibi klasik sorunlar; yerini yapay
                        zekâ ile güçlendirilmiş, entegre ve sezgisel çözümlere bırakıyor.
                    </p>
                </div>
                <div class="aiflow-features">
                    <div class="feature-box">
                        <h3>AI HR Saas</h3>
                        <p>AIzmir Hub’ın SaaS ürünü, işletmelere bulut tabanlı, ölçeklenebilir çözümler
                            sunarak
                            verimliliklerini
                            artırırken,
                            <br> dijital dönüşüm süreçlerini kesintisiz ve güvenli bir şekilde yönetmelerini
                            sağlar!
                        </p>
                    </div>


                    <div class="feature-box">
                        <h3>Otomasyon</h3>
                        <p>AIzmir Hub’ın AIva Tech ile sunduğu otomasyon süreci, işletmelerin karmaşık iş
                            akışlarını
                            akıllı
                            algoritmalarla optimize eder,
                            <br> manuel hataları minimize eder ve operasyonel verimliliği maksimum
                            seviyeye çıkarır.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
    <!-- CARD -->
    <div class="minimal-cards-section">
        <div class="container">
            <h1 class="section-title">Yapay Zeka Eğitim ve Gelişim Çözümleri</h1>
            <!-- <p class="section-subtitle">AIzmır provides a set of ready-to-use AI workflows that can be
                used
                to
                build
                AI
                applications in seconds. These workflows are designed to be fast, secure, and infinitely
                scalable.
            </p> -->

            <div class="card-container">
                <!-- Kart 1 -->
                <div class="minimal-card">
                    <h3>AI Eğitimleri</h3>
                    <p>Yapay zeka ve otomasyon alanındaki en son teknolojilerle iş gücünüzü güçlendirin.
                        <br><br> Eğitim
                        programlarımızla, şirket içindeki yetkinliklerinizi geliştirin ve dijital
                        dönüşüm
                        sürecinize
                        hız
                        kazandırın.
                    </p>

                </div>

                <!-- Kart 2 -->
                <div class="minimal-card">
                    <h3>Kurumsal Eğitim Çözümleri</h3>
                    <p>Özelleştirilmiş eğitim modüllerimizle, ekibinizi yapay zeka ve veri analitiği
                        konusunda
                        uzmanlaştırın.
                        <br><br> Geleceğe yönelik stratejik beceriler kazandırarak rekabet avantajınızı
                        artırın.
                    </p>

                </div>

                <!-- Kart 3 -->
                <div class="minimal-card">
                    <h3>Kapsamlı Sertifika Programları</h3>
                    <p>Gelişen yapay zeka dünyasında kalıcı bir etki bırakacak bilgi birikimine sahip
                        olun.
                        <br>
                        <br> AIzmir
                        Hub’ın
                        sertifika programları ile sektördeki en değerli becerileri kazanın.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
    <!-- AIZMIRHUB KİMDİR ?? -->
    <div class="why-aizmir-purple">
        <h1>Aizmir Hub Danışmanlık ?</h1>
        <p class="main-description-purple">
            AIzmirHub, yapay zeka çözümleri ile işletmelerin dijital dönüşümünü yönlendiren, stratejik
            danışmanlık
            ve
            kurumsal eğitim hizmetleri sunan teknoloji firmasıdır. Yenilikçi yapay zeka çözümleriyle
            şirketlerin
            iş süreçlerini optimize ederek, sektördeki rekabet avantajlarını maksimuma çıkarır.<br>
        </p>

        <!-- First Row -->
        <div class="row">
            <div class="col feature-column-purple">
                <h2>AI Danışmanlık</h2>
            </div>
            <div class="col feature-column-purple">
                <h2>Yapay zekaya şirket ve sektör özelinde giriş</h2>
            </div>
            <div class="col feature-column-purple">
                <h2>AI Kurumsal Eğitimleri</h2>
            </div>
        </div>
        <div class="divider-line-purple"></div>

        <!-- Second Row -->
        <div class="row">
            <div class="col feature-column-purple">
                <div class="feature-item-purple">
                    <h3>Stratejik Yapay Zeka Danışmanlığı</h3>
                    <p> İşletmenizin ihtiyaçlarına uygun yapay zeka çözümlerini belirleyerek, uzun
                        vadeli
                        dijital
                        dönüşüm
                        stratejileri geliştiriyoruz.</p>
                </div>
            </div>
            <div class="col feature-column-purple">
                <div class="feature-item-purple">
                    <h3>Veri politikası ve yapay zeka yol haritasının belirlenmesi
                    </h3>
                    <p>Mevcut sistemlerinize entegre edilebilen, ölçeklenebilir yapay zeka uygulamaları
                        tasarlıyor
                        ve
                        devreye alıyoruz.</p>
                </div>
            </div>
            <div class="col feature-column-purple">
                <div class="feature-item-purple">
                    <h3> Veri Analitiği ve Karar Destek Sistemleri</h3>
                    <p>Veri odaklı karar alma süreçlerini güçlendiren analitik modeller ve otomasyon
                        çözümleri
                        sunuyoruz.
                    </p>
                </div>
            </div>
        </div>
        <div class="divider-line-purple"></div>

        <!-- Third Row -->
        <div class="row">
            <div class="col feature-column-purple">
                <div class="feature-item-purple">
                    <h3>Dijital Pazarlama ve AI Destekli Stratejiler</h3>
                    <p>Yapay zeka destekli dijital pazarlama stratejileri ile hedef kitlenize daha doğru
                        şekilde
                        ulaşmanızı
                        sağlayarak, müşteri etkileşimini ve dönüşüm oranlarını artırıyoruz.</p>
                </div>
            </div>
            <div class="col feature-column-purple">
                <div class="feature-item-purple">
                    <h3>İnovasyon ve Teknoloji Yatırımları Danışmanlığı</h3>
                    <p>Teknolojik yatırımlarınızı optimize ederek, iş süreçlerinizdeki inovasyon
                        potansiyelini
                        açığa
                        çıkarmak ve rekabetçi avantaj yaratmak için stratejik önerilerde bulunuyoruz.
                    </p>
                </div>
            </div>
            <div class="col feature-column-purple">
                <div class="feature-item-purple">
                    <h3>Yapay Zeka Uygulama Entegrasyonu
                    </h3>
                    <p>Mevcut iş süreçlerinize entegre edilebilen, ölçeklenebilir yapay zeka
                        uygulamaları
                        tasarlayarak,
                        dijital dönüşümünüzü hızlandırıyoruz.</p>
                </div>
            </div>
        </div>
        <div class="divider-line-purple"></div>

        <!-- Fourth Row -->
        <div class="row">
            <div class="col feature-column-purple">
                <div class="feature-item-purple">
                    <h3>Çevik Yöntemlerle Proje Yönetimi ve Uygulama Danışmanlığı</h3>
                    <p>Çevik yöntemlerle proje yönetimi sağlıyor ve yenilikçi yapay zeka çözümlerinin
                        uygulanabilirliğini
                        artırarak, daha hızlı ve etkili projeler geliştiriyoruz.
                    </p>
                </div>
            </div>
            <div class="col feature-column-purple">
                <div class="feature-item-purple">
                    <h3>İş Süreçleri Optimizasyonu ve Otomasyon</h3>
                    <p>İş süreçlerinizi analiz ederek, manuel iş akışlarını otomatikleştiren ve
                        verimliliği
                        artıran
                        yapay
                        zeka tabanlı çözümler sunuyoruz.</p>
                </div>
            </div>
            <div class="col feature-column-purple">
                <div class="feature-item-purple">
                    <h3>Dijital Pazarlama ve AI Destekli Stratejiler</h3>
                    <p>AI tabanlı dijital pazarlama çözümleri ile müşteri deneyimini iyileştiriyor ve
                        markanızı
                        geleceğe
                        taşıyan pazarlama stratejileri geliştiriyoruz.</p>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
    <!-- ÖDEME PLANI -->
    <div class="pricing-section" id="pricing">
        <div class="pricing-header">
            <h2 class="gradient-title">Premium Erişim Planları</h2>
            <p class="subtitle">AIzmır Hub'ın gücünü keşfedin, size uygun planı seçin.</p>
        </div>

        <div class="pricing-toggle">
            <span class="sliderp">Aylık</span>
            <label class="toggle-switch">
                <input type="checkbox" id="pricing-period">
                <span class="slider"></span>
            </label>
            <span class="sliderp">Yıllık <span class="discount-pill">%25 Tasarruf</span></span>
        </div>

        <div class="pricing-grid">
            <div class="pricing-card glow-hover">
                <div class="card-header">
                    <h3>MarketPlace</h3>
                    <p>Yapay Zeka Mağazanız</p>
                </div>
                <div class="price">
                    <span class="monthly">9.99$<span>/ay</span></span>
                    <span class="yearly">54.99$<span>/ay</span></span>
                </div>
                <ul class="features">
                    <li><i class="icon-check"></i>Sınırsız Ürün Yayınlama</li>
                    <li><i class="icon-check"></i> Satıcı Profili Oluşturma</li>
                    <li><i class="icon-check"></i> Detaylı Sstış Analitiği</li>
                    <li><i class="icon-check"></i>Dijital Pazarlama Desteği </li>
                </ul>
                <button class="card-btn  primary-btn">Dönüşümü Başlat</button>
            </div>

            <div class="pricing-card featured-card">
                <div class="popular-badge">EN POPÜLER</div>
                <div class="card-header">
                    <h3>AI Product Owner</h3>
                    <p>Profesyonel kullanıcılar için</p>
                </div>
                <div class="price">
                    <span class="monthly">199.99$<span>/ay</span></span>
                    <span class="yearly">1799.99$<span>/ay</span></span>
                </div>
                <ul class="features">
                    <li><i class="icon-check"></i> GPT-4 Destekli</li>
                    <li><i class="icon-check"></i>React + FastAPI</li>
                    <li><i class="icon-check"></i> Veritabanı & Servisler</li>
                    <li><i class="icon-check"></i> Cloud & API-first</li>
                    <li><i class="icon-check"></i> Aylık Raporlar</li>
                </ul>
                <button class="card-btn primary-btn">Dönüşümü Başlat</button>
            </div>

            <div class="pricing-card glow-hover">
                <div class="card-header">
                    <h3>AI HR Saas</h3>
                    <p>Kurumsal çözümler</p>
                </div>
                <div class="price">
                    <span class="monthly">149.99$<span>/ay</span></span>
                    <span class="yearly">1349.99$<span>/ay</span></span>
                </div>
                <ul class="features">
                    <li><i class="icon-check"></i> Akıllı CV Analizi</li>
                    <li><i class="icon-check"></i>Çalışan Yönetimi</li>
                    <li><i class="icon-check"></i> Toplantı Planlama</li>
                    <li><i class="icon-check"></i>Verimlilik</li>
                    <li><i class="icon-check"></i> İK Süreçlerinde %100 Kontrol</li>
                </ul>
                <button class="card-btn  primary-btn ">Dönüşümü Başlat</button>
            </div>
        </div>

        <div class="pricing-footer">
            <p>Özel ihtiyaçlarınız mı var? <a href="#" class="contact-link">Özel çözümlerimiz </a>
                hakkında
                bilgi
                alın.
            </p>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
    <!-- TEAM -->
    <div class="testimonial-section">
        <!-- Avatar -->
        <div class="avatar-wrapper">
            <div class="avatar-bg">
                <img id="current-avatar" src="{% static 'images/berkay_gulbeyaz.jpeg' %}" class="avatar-img"
                    alt="avatar">

            </div>
        </div>

        <!-- Testimonial -->
        <div class="testimonial-text-container" id="text-container">
            <div class="testimonial-text" id="current-testimonial">
                Geleceği yapay zekayla şekillendirmek için çalışan fütürist ve yapay zeka girişimcisi...
            </div>
        </div>

        <!-- Buttons -->
        <div class="buttons">
            <button class="person-btn active" data-person="berkay">
                <span>Berkay Gülbeyaz - Founder and Ceo</span>
            </button>
            <button class="person-btn inactive" data-person="mehtap">
                <span>M.Mehtap Avcı - AI & Software Specialist <br> Innovative Tech Product
                    Builder</span>
            </button>
            <button class="person-btn inactive" data-person="esra">
                <span>Esra Işim Şahbazoğlu - CTO / AI Solutions Engineer</span>
            </button>
            <button class="person-btn inactive" data-person="nur">
                <span>Nur Yalçın - AI & Software Solutions Developer</span>
            </button>
            <button class="person-btn inactive" data-person="ozgur">
                <span>Özgür Çetin - AI Software Specialist - CAIO </span>
            </button>
        </div>
    </div>
    <br><br><br><br>
    <!-- FOOTER -->
    {% endblock %}