<!-- templates/agent.html -->
{% extends 'base.html' %}

{% block content %}
<div class="aiflow-container">
    <h2 class="aiflow-title">OTOMASYONDA AIVA TECH İLE BERABERİZ</h2>
    <div class="aiflow-container">
        <div class="model-card">
            <img src="/static/images/otomasyon.gif" alt="Model Image" style="height: 600px;">
            <div class="model-info">
                <h5>AIVATECH OTOMASYON </h5>
                <p>AIVA Tech, işletmelerin dijital dönüşümünü hızlandıran yapay zeka çözümleri sunar. AI Otomasyon ve AI
                    Asistan ürünlerimizle, tekrarlayan görevlerinizi otomatikleştirir, süreçlerinizi hızlandırır ve iş
                    gücünüzü daha verimli hale getiririz. 13 kişilik uzman ekibimizle, her sektöre özel geliştirdiğimiz
                    çözümler sayesinde stratejik hedeflerinize daha hızlı ulaşmanızı sağlıyoruz. Dünya çapında tanınan
                    yatırımcıların desteklediği AIVA Tech, iş dünyasında rekabet avantajı elde etmek isteyen firmaların
                    güvenilir iş ortağıdır.</p>
            </div>
            <div class="model-author">AIVATECH</div>
            <a href="https://calendly.com/aizmirhub-info/30min" class="ai-hub-doc-button" target="_blank"
                style="padding: 8px 19px; font-size: 14px;">İletişime Geç</a>
        </div>
    </div>
</div>
{% endblock %}